<body>
    <img class="image" src="https://bit.ly/3m206ss" width="600" height="100" alt="Logo Scrabble" />
    <div class="virtualPlayers">
        <div class="lists">
            <h2>Joueurs débutants</h2>
            <div class="names">
                <div class="beginnerNames" *ngFor="let name of adminService.beginnerNameList">
                    <button class="name-btn" (click)="onSelect(name)">{{ name }}</button>
                </div>
            </div>

            <h2>Joueurs experts</h2>
            <div class="names">
                <div class="expertNames" *ngFor="let name of adminService.expertNameList">
                    <button class="name-btn" (click)="onSelect(name)">{{ name }}</button>
                </div>
            </div>
        </div>

        <mat-form-field class="input" hintLabel="characters min: 3 max: 10" appearance="fill">
            <mat-label>Entrez le nom que vous souhaitez ajouter à la liste</mat-label>
            <input matInput #input maxlength="10" #input2 minlength="3" placeholder="Ex : Riri" [formControl]="adminService.newName" />
            <div *ngIf="adminService.newName.errors?.pattern">Le nom ne doit pas contenir des chiffres ou des caractères spéciaux</div>
        </mat-form-field>

        <div class="addName">
            <button class="btn" (click)="addBeginnerName(); adminService.newName.setValue('')">Ajouter joueur débutant</button>
            <button class="btn" (click)="addExpertName(); adminService.newName.setValue('')">Ajouter joueur expert</button>
        </div>
        <div class="deletUpdate">
            <div class="deleteName">
                <button class="btn" *ngIf="isUntouchable()" disabled="true">Supprimer le nom</button>
                <button class="btn" *ngIf="!isUntouchable()" (click)="deleteName()">Supprimer le nom</button>
                <span class="toolTipText">Sélectionner un joueur pour le modifier.</span>
            </div>
            <div>
                <button class="btn" *ngIf="isUntouchable()" (click)="updateName()" disabled="true">Modifier le nom</button>
                <button class="btn" *ngIf="adminService.selectedName !== '' && !isUntouchable()" (click)="updateName()">Modifier le nom</button>
            </div>
        </div>
        <p>{{ adminService.selectedName }}</p>
    </div>

    <div class="dictionnary"></div>
</body>
