
.chat-display {
    height: 25em;
    max-width: 100%;
    border: 1px solid black;
    padding: 0 5px 0 5px;
    margin:auto;
    overflow: auto;
    word-break: break-all;
    background-color: lightblue;
}
