<div class="container">
    <div class="inbox">inbox</div>
    <div class="outbox">
        Le fameux Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia facere quo harum facilis? Culpa ullam facere ducimus ipsum
        doloremque suscipit voluptatem, odio similique alias magnam sequi dolor voluptatibus dolore aut adipisci aliquam, totam nemo quae nobis in
        dignissimos. Commodi asperiores, quis necessitatibus placeat fugit cumque tempora, in tenetur earum quia officiis unde. Nobis officia
        repudiandae sequi enim numquam, eaque sit omnis placeat dicta aperiam magnam non reiciendis commodi quasi explicabo magni unde deserunt
        possimus. Exercitationem consequatur excepturi voluptas eos? Fuga et, mollitia beatae odit ullam repellendus optio quos. Tempore rem totam
        cupiditate nobis est aperiam consectetur pariatur dolorem, deserunt delectus perferendis eaque placeat assumenda odio quam fuga ducimus
        voluptatum in voluptate corrupti reiciendis ullam cum. Quia animi quis accusamus ducimus dolor. Est odit rem sit aliquid perspiciatis,
        delectus neque, molestiae consectetur error deserunt voluptate corporis quas obcaecati consequatur nam itaque rerum impedit commodi cumque
        quidem? Quos dolorum fugit, porro dignissimos voluptate nam aliquid facilis iusto fuga maiores repudiandae laborum magni. Nesciunt harum ea
        dolorum ipsa excepturi optio reiciendis repudiandae necessitatibus quasi nam molestiae dolorem iure, obcaecati ipsam ex atque quae, mollitia
        unde officiis nobis quis perferendis! Odit, sed eveniet? Tenetur consectetur a hic ea officia voluptatem, mollitia rerum dignissimos sit!
    </div>
</div>
