.container {
    height: 100%;
    display: flex;
}

.play-area-container {
    overflow: auto;
    flex: 1 1 auto;
    background-color: #dcecff;
}

.play-area {
    display: grid;
    width: min-content;
    outline: none;
}

.chat-box-container {  
    background-color: #dcecff; 
}
