.container {
    position: relative;
    top: -500px;
    left: 520px;
    display: none;
    background: #fff;
    width: 396px;
    height: 307px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(236, 26, 26, 0.1);
}

.container .text {
    font-family: 'Arial Bold', 'Arial', 'sans-serif';
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #8c8c8c;
    text-align: left;
}
.container hr.solid {
    position: relative;
    width: 118%;
    left: -30px;
    top: 10px;
}
.btn hr.solid {
    position: relative;
    left: -30px;
    top: -15px;
    width: 238%;
}
.container form {
    margin-top: -20px;
}
.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}
#opponents {
    display: none;
}
/* HeroesComponent's private CSS styles */
.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}
.heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #eee;
    margin: 0.5em;
    padding: 0.3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.heroes li:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: 0.1em;
}
.heroes li.selected {
    background-color: black;
    color: white;
}
.heroes li.selected:hover {
    background-color: #505050;
    color: white;
}
.heroes li.selected:active {
    background-color: black;
    color: white;
}
button:after {
    background-color: yellow;
}
a {
    padding: 1rem;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;
}

a:hover {
    color: white;
    background-color: #42545c;
}
a.active {
    background-color: black;
}
