<div class="container" id="form">
    <!--formulaire mode solo-->
    <form [formGroup]="myForm">
        <!--form #form="ngForm" id="myForm"-->
        <div class="form-group">
            <label>NOM: </label>
            <input
                pattern="[a-zA-Z]*"
                type="text"
                class="form-control"
                name="nom"
                placeholder="Entrez votre nom... ( 3 à 12 caractères)"
                formControlName="name"
            />
            <div *ngIf="myForm.controls['name'].invalid" class="tag is-danger is-light">le champ est requis</div>
        </div>
        <div class="form-group">
            <label>Minuteur(sec): </label>
            <input type="text" name="minute" id="minute" formControlName="timer" />
        </div>
        <div>
            <label>Dictonnaire : </label>
            <select class="form-control" name="dictionnaire" formControlName="dictionnary">
                <option selected>{{ dictionnary }}</option>
                <option>Autre</option>
            </select>
        </div>
        <div class="form-check">
            <input class="form check-input" type="checkbox" name="bonus" formControlName="bonus" />
            <label class="form check label">Bonus aléatoire</label>
        </div>
        <div>
            <h3>Veuillez choisir le niveau de votre adversaire</h3>
            <a class="form" (click)="randomPlayer(debutantNameList)" formControlName="niveau">Joueur Débutant</a>
            <a class="form" formControlName="niveau">Joueur Expert</a>
            <!--div id="opponents"-->
            <!--ul class="heroes">
                    <li *ngFor="let opponent of debutantNameList" (click)="onSelect(opponent)" [class.selected]="opponent === selectedPlayer">
                        <option>{{ opponent }}</option>
                    </li>
                </ul-->
            <p>Vous allez jouer contre {{ selectedPlayer }}</p>
            <!--/div-->
        </div>
    </form>

    <div>
        <button class="jouer" routerLink="/game">Commencer</button>
        <!-- ajouter un router link-->
        <button class="annuler" (click)="closeForms()">Annuler</button>
        <!-- ajouter un router link-->
    </div>
</div>
