<div class="container" id="form">
    <!--formulaire mode solo-->
    <form #form="ngForm" id="myForm">
        <div class="form-group">
            <label>NOM: </label>
            <input
                pattern="[a-zA-Z]*"
                [class.is-danger]="form.invalid"
                type="text"
                class="form-control"
                name="nom"
                [(ngModel)]="name"
                placeholder="Entrez votre nom... ( 3 à 12 caractères)"
                required
                minlength="3"
                maxlength="12"
            />
            <div *ngIf="form.invalid" class="tag is-danger is-light">le champ saisi ne doit contenir que des lettres</div>
        </div>
        <div class="form-group">
            <label>Minuteur(sec): </label>
            <input type="text" name="minute" id="minute" [(ngModel)]="timer" />
        </div>
        <div>
            <label>Dictonnaire : </label>
            <select class="form-control" name="dictionnaire" [(ngModel)]="dictionnary">
                <option selected>{{ dictionnary }}</option>
                <option>Autre</option>
            </select>
        </div>
        <div class="form-check">
            <input class="form check-input" type="checkbox" name="bonus" [(ngModel)]="bonus" />
            <label class="form check label">Bonus aléatoire</label>
        </div>
        <div>
            <button class="form" (click)="randomPlayer(debutantNameList)">Joueur Débutant</button>
            <button class="form">Joueur Expert</button>
            <div id="opponents">
                <ul class="heroes">
                    <li *ngFor="let opponent of debutantNameList" (click)="onSelect(opponent)" [class.selected]="opponent === selectedPlayer">
                        <option>{{ opponent }}</option>
                    </li>
                </ul>
                <div>Vous allez jouer contre {{ selectedPlayer }}</div>
            </div>
        </div>
    </form>

    <div>
        <button class="jouer">Commencer</button>
        <!-- ajouter un router link-->
        <button class="annuler" (click)="closeForms()">Annuler</button>
        <!-- ajouter un router link-->
    </div>
</div>
