<div class="form-group">
    <!-- <mat-card for="file">Choose a dictionary (JSON file):</mat-card> -->
    <input #inputFile type="file" id="file" accept=".json" />
    <button mat-button (click)="onUpload()">Upload</button>

    <div class="dropdown">
        <button class="dropbtn">{{ selectedDictionary }}</button>
        <div class="dropdown-content">
            <span *ngFor="let dictionary of dictionaryList; index as i" (click)="onDictionarySelection(i)"> {{ dictionary }} </span>
        </div>
    </div>
    <button mat-button (click)="onDownload()">Download</button>

    <mat-card *ngIf="lastUploadedDictionary !== undefined">
        <mat-card-subtitle> Dictionnaire téléversé </mat-card-subtitle>
        <mat-card-title> {{ lastUploadedDictionary.title }} </mat-card-title>
        <mat-card-content>
            <p>Description :</p>
            <p class="tab">{{ lastUploadedDictionary.description }}</p>
        </mat-card-content>
    </mat-card>
</div>
