<div class="waitingArea">
    <img class="image" src="https://bit.ly/3m206ss" width="600" height="100" alt="Logo Scrabble" />
    <div *ngIf="!isGameSelected">
        <h1>Vous êtes en attente d'un autre joueur</h1>
        <mat-spinner class="load"></mat-spinner>
        <div>
            <div *ngIf="playerList.length === 2">
                <h3>Votre adversaire a rejoint la partie : {{ playerList[1] }}</h3>
                <button class="small-btn" (click)="startIfFull()">Commencer</button>
            </div>
        </div>
        <div class="games" *ngFor="let game of pendingGameslist">
            <button class="game-btn" (click)="openName(true); onSelect(game)">
                <span> Partie #{{ game.gameRoom.idGame }} - </span>
                <span> Créateur: {{ game.creatorName }} - </span>
                <span> Dictionnaire: {{ game.dictionaryType }} - </span>
                <span> Temps: {{ game.totalCountDown }} secondes</span>
            </button>
        </div>
        <button class="small-btn" (click)="convert(true); deleteRoom()">Convertir en Mode Solo</button>
        <button class="small-btn" (click)="closeDialog(); openForm(); deleteRoom()">Annuler</button>
    </div>
    <div *ngIf="isGameSelected">
        <h1>Veuillez selectionner la partie que vous souhaitez rejoindre</h1>
        <mat-card class="games">
            <div *ngFor="let game of pendingGameslist" [class.selected]="game === selectedGame">
                <button class="game-btn" (click)="openName(true); onSelect(game)">
                    <span> Partie #{{ game.gameRoom.idGame }} - </span>
                    <span> Créateur: {{ game.creatorName }} - </span>
                    <span> Dictionnaire: {{ game.dictionaryType }} - </span>
                    <span> Temps: {{ game.totalCountDown }} sec.</span>
                </button>
            </div>
        </mat-card>
        <div *ngIf="name">
            <mat-form-field class="nameForm" hintLabel="characters min: 3 max: 10" appearance="fill">
                <mat-label>Entrez votre nom</mat-label>
                <input matInput #input maxlength="10" #input2 minlength="3" placeholder="Ex. Nougat" [formControl]="playerName" />
                <mat-hint align="end">{{ input.value?.length || 0 }}/10</mat-hint>
                <div class="error" *ngIf="playerName.errors?.pattern">Le nom ne doit pas contenir de chiffres et de caractères</div>
                <md-hint *ngIf="error" align="start">{{ nameErrorMessage }}</md-hint>
                <md-hint *ngIf="!error" align="start">{{ nameErrorMessage }}</md-hint>
            </mat-form-field>
            <button class="small-btn" *ngIf="playerName.valid" (click)="confirmName(selectedGame)">Valider</button>
            <div *ngIf="gameCancelled">
                <h3>La partie #{{ roomDeletedId }} a été supprimé, veuillez selectionner une autre partie si vous souhaitiez la joindre</h3>
            </div>
            <div class="row" *ngIf="joindre">
                <h3 class="column">Veuillez cliquer ici pour joindre la partie :</h3>
                <div class="column">
                    <button class="small-btn" (click)="start()">Joindre</button>
                </div>
            </div>
            <div *ngIf="full">
                <h3>Cette salle est remplie, veuillez selectionner une autre salle</h3>
            </div>
            <div *ngIf="nameValid">
                <h3 class="wait-label">Veuillez attendre que votre adversaire démarre la partie</h3>
                <mat-spinner class="load"></mat-spinner>
            </div>
        </div>
        <button class="small-btn" (click)="closeDialog(); someoneLeftRoom()">Retour</button>
        <button class="small-btn" *ngIf="pendingGameslist.length === 1" style="visibility: visible" disabled="true">Placement Aleatoire</button>
        <button class="small-btn" *ngIf="pendingGameslist.length >= 2" style="visibility: visible" (click)="randomGame()">Placement Aleatoire</button>
    </div>
</div>
