<body>
    <img class="image" src="https://bit.ly/3m206ss" width="600" height="100" alt="Logo Scrabble" />

    <div>
        <button class="button" style="width: 20%" (click)="form.openForms()">Jouer une partie en SOLO</button>
        <button class="button" style="width: 20%">créer une partie MULTIJOUEUR</button>
        <button class="button" style="width: 20%">joindre une partie MULTIJOUEUR</button>
    </div>
    <button class="RETOUR" routerLink="/start">RETOUR</button>

    <app-form></app-form>
</body>
