<body>
    <img class="image" src="https://bit.ly/3m206ss" width="600" height="100" alt="Logo Scrabble" />

    <div style="margin-top: 100px">
        <button class="button" style="width: 400px" routerLink="/game">Jouer une partie en SOLO</button>
        <button class="button" style="width: 400px">Créer une partie MULTIJOUEUR</button>
        <button class="button" style="width: 400px">Joindre une partie MULTIJOUEUR</button>
    </div>
    <button class="return" routerLink="/start">RETOUR</button>
</body>
