<div class="container">
    <img src="https://bit.ly/3m206ss" width="280" height="50" class="logo" alt="Logo Scrabble" />
    <hr />
    <mat-card class="card" [ngStyle]="{ 'background-color': isPlayer1Active() ? '#8ABBF5' : '#DCECFF' }">
        <mat-card-title class="card-title" [ngStyle]="{ 'font-weight': isPlayer1Active() ? 'bold' : 'normal' }">{{
            getPlayer1Name()
        }}</mat-card-title>
        <mat-card-content>
            <div>
                <div class="row">
                    <label class="info">Points: {{ getPlayer1Score() }}</label>
                </div>
                <div class="row" *ngIf="getPlayer1LetterCount() < 7">
                    <label class="info">Nombre de lettres: {{ getPlayer1LetterCount() }}</label>
                </div>
                <div *ngIf="isLog2990() === 'true'">
                    <label class="row info">Objectifs privés:</label>
                    <div class="row privateGoals">
                        <button class="column rectangle">
                            <img
                                class="goal"
                                src="https://img.icons8.com/external-icongeek26-outline-colour-icongeek26/64/000000/external-reward-crowdfunding-icongeek26-outline-colour-icongeek26.png"
                            />
                        </button>
                        <button class="column rectangle">
                            <img
                                class="goal"
                                src="https://img.icons8.com/external-icongeek26-outline-colour-icongeek26/64/000000/external-reward-crowdfunding-icongeek26-outline-colour-icongeek26.png"
                            />
                        </button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="card" [ngStyle]="{ 'background-color': isPlayer2Active() ? '#8ABBF5' : '#DCECFF' }">
        <mat-card-title class="card-title" [ngStyle]="{ 'font-weight': isPlayer2Active() ? 'bold' : 'normal' }">{{
            getPlayer2Name()
        }}</mat-card-title>
        <mat-card-content>
            <div>
                <div class="row">
                    <label class="info">Points: {{ getPlayer2Score() }}</label>
                </div>
                <div class="row" *ngIf="getPlayer2LetterCount() < 7">
                    <label class="info">Nombre de lettres: {{ getPlayer2LetterCount() }}</label>
                </div>
                <div *ngIf="isLog2990() === 'true'">
                    <label class="row info">Objectifs privés:</label>
                    <div class="row privateGoals">
                        <button class="column rectangle" disabled="true">
                            <img
                                class="goal"
                                src="https://img.icons8.com/external-icongeek26-outline-colour-icongeek26/64/000000/external-reward-crowdfunding-icongeek26-outline-colour-icongeek26.png"
                            />
                        </button>
                        <button class="column rectangle" disabled="true">
                            <img
                                class="goal"
                                src="https://img.icons8.com/external-icongeek26-outline-colour-icongeek26/64/000000/external-reward-crowdfunding-icongeek26-outline-colour-icongeek26.png"
                            />
                        </button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <hr />
    <mat-card class="card">
        <mat-card-title class="card-title" align="center">Lettres restantes</mat-card-title>
        <label class="values">{{ getLettersLeftCount() }}</label>
    </mat-card>
    <mat-card class="card">
        <mat-card-title class="card-title" align="center">Temps restant</mat-card-title>
        <mat-card-content>
            <label class="values">{{ getTimer() }}</label>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="isLog2990() === 'true'" class="card">
        <mat-card-title class="card-title" align="center">Objectifs publics</mat-card-title>
        <mat-card-content>
            <div class="row">
                <button class="column rectangle">
                    <img
                        class="goal"
                        src="https://img.icons8.com/external-icongeek26-outline-colour-icongeek26/64/000000/external-reward-crowdfunding-icongeek26-outline-colour-icongeek26.png"
                    />
                </button>
                <button class="column rectangle">
                    <img
                        class="goal"
                        src="https://img.icons8.com/external-icongeek26-outline-colour-icongeek26/64/000000/external-reward-crowdfunding-icongeek26-outline-colour-icongeek26.png"
                    />
                </button>
                <button class="column rectangle">
                    <img
                        class="goal"
                        src="https://img.icons8.com/external-icongeek26-outline-colour-icongeek26/64/000000/external-reward-crowdfunding-icongeek26-outline-colour-icongeek26.png"
                    />
                </button>
                <button class="column rectangle">
                    <img
                        class="goal"
                        src="https://img.icons8.com/external-icongeek26-outline-colour-icongeek26/64/000000/external-reward-crowdfunding-icongeek26-outline-colour-icongeek26.png"
                    />
                </button>
            </div>
        </mat-card-content>
    </mat-card>    
    <hr />
    <mat-card *ngIf="isEndGame() && hasWinner()">
        <mat-card-title *ngIf="!isDrawnGame()" class="card-title" align="center">Félicitation {{ winnerName }}, <br />tu as gagné!</mat-card-title>
        <mat-card-title *ngIf="isDrawnGame()" class="card-title" align="center">Félicitation {{ winnerName }}, <br />vous avez gagné!</mat-card-title>
    </mat-card>
    <button *ngIf="isEndGame()" class="return" (click)="quitGame()">Quitter la partie</button>
    <button *ngIf="!isEndGame()" class="return" (click)="quitGame()">Abandonner la partie</button>
</div>
