.container {
    height: auto;
    min-height: 98vh;
    padding: 15px;
}

.summary {
    padding: 20px 10px;
}

.row {
    margin: 10px 0px 10px 0px;
}

.info {
    font-size: 18px;
}

.bold {
    font-size: 18px;
}

.card {
    margin: 10px 0px;
    background-color: #dcecff;
}

.card-title {
    margin: 20px;
}

.values {
    font-size: 25px;
    display: block;
    text-align: center;
}

hr {
    margin: 15px 0px;
    border: 1px solid #6aa0e0;
}

.logo {
    display: block;
    margin: 15px 0px;
    filter: grayscale(100%);
}

.return {
    position: relative;
    margin-top: 180px;
    font-size: 25px;
    border-radius: 5px;
    background-color: #6aa0e0;
    border: 1px solid #6aa0e0;
    padding: 5px;
    width: 100%;
}
