<div class="container">
    <mat-card class="card" [ngStyle]="{ 'background-color': player1.isActive ? '#8ABBF5' : '#DCECFF' }">
        <mat-card-title class="card-title" align="center" [ngStyle]="{ 'font-weight': player1.isActive ? 'bold' : 'semi-bold' }">{{
            player1.name
        }}</mat-card-title>
        <mat-card-content class="card">
            <div>
                <div class="row">
                    <label class="info">Points: {{ player1.score }}</label>
                </div>
                <div class="row" *ngIf="player2LetterCount < 7">
                    <label class="info">Nombre de lettres: {{ player1LetterCount }}</label>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="card" [ngStyle]="{ 'background-color': player2.isActive ? '#8ABBF5' : '#DCECFF' }">
        <mat-card-title class="card-title" align="center" [ngStyle]="{ 'font-weight': player2.isActive ? 'bold' : 'normal' }">{{
            player2.name
        }}</mat-card-title>
        <mat-card-content>
            <div>
                <div class="row">
                    <label class="info">Points: {{ player2.score }}</label>
                </div>
                <div class="row" *ngIf="player2LetterCount < 7">
                    <label class="info">Nombre de lettres: {{ player2LetterCount }}</label>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <hr>
    <mat-card class="card">
        <mat-card-title class="card-title" align="center" >Lettres restantes</mat-card-title>
        <label class="values">{{ lettersLeftCount }}</label>
    </mat-card>
    <mat-card class="card">
        <mat-card-title class="card-title" align="center" >Temps restant</mat-card-title>
        <mat-card-content>
            <label class="values">0:20:56</label>
        </mat-card-content>
    </mat-card>
</div>
