.container {
    height: auto;
    min-height: 98vh;
    padding: 15px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    position: relative;
}

.info {
    font-size: 14px;
}

.bold {
    font-size: 14px;
}

.card {
    margin: 10px 0px;
    background-color: #dcecff;
}

.card-title {
    font-size: 20px;
    display: block;
    text-align: center;
}

.values {
    font-size: 18px;
    display: block;
    text-align: center;
}

hr {
    margin: 10px 0px;
    border: 0.5px solid #6aa0e0;
    background-color: #6aa0e0;
}

.logo {
    display: block;
    margin: 10px 0px;
    filter: grayscale(100%);
}

.return {
    position: relative;
    font-size: 20px;
    border-radius: 5px;
    background-color: #6aa0e0;
    border: 1px solid #6aa0e0;
    padding: 5px;
    width: 100%;
}

.rectangle {
    height: 40px;
    width: 40px;
    background-color: #f1f7ff;
    border-radius: 5px;
    margin: 5px 5px 0px 5px;
    border-width: 0px;
}

.achieved-rectangle {
    height: 40px;
    width: 40px;
    background-color: #6aa0e0;
    border-radius: 5px;
    margin: 5px 5px 0px 5px;
    border-width: 0px;
}

.goals {
    height: 35px;
    width: 35px;
    margin: 2.5px 0px 0px 2.5px;
}

.publicGoals {
    margin-left: 45px;
    width: 60%;
}

.privateGoals {
    width: 25%;
}

.goal-title {
    margin-top: 10px;
}

.custom-tooltip {
    font-size: 15px;
}
