<div class="container">
    <img class="image" src="https://bit.ly/3m206ss" width="600" height="100" alt="Logo Scrabble" />
    <h1>Meilleurs Scores</h1>
    <div class="classic">
        <h3>Mode Classique</h3>
        <table>
            <tbody>
                <tr>
                    <th>Nom</th>
                    <th>Score</th>
                </tr>
                <tr *ngFor="let classicScore of classicModeBestScores">
                    <td>{{ classicScore.playerName }}</td>
                    <td>{{ classicScore.score }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="log2990">
        <h3>Mode Log2990</h3>
        <table>
            <tbody>
                <tr>
                    <th>Nom</th>
                    <th>Score</th>
                </tr>
                <tr *ngFor="let log2990Score of log2990ModeBestScores">
                    <td>{{ log2990Score.playerName }}</td>
                    <td>{{ log2990Score.score }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button (click)="closeDialog()">Retour</button>
</div>
