th,
td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 18px;
    // padding-left: 200px;
    width: 100px;
    background-color: white;
}
h3 {
    text-align: center;
}
h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    filter: grayscale(100%);
    position: absolute;
    left: 650px;
}
// table {
//     align-items: center;
//     display: flex;
// }
body {
    min-height: 100vh;
    line-height: 1;
    margin: 0;
    padding: 0;
    background-color: #dcecff;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    filter: grayscale(100%);
}
.classic {
    // margin-left: auto;
    position: absolute;
    left: 400px;
    top: 297px;
}
.log2990 {
    // margin-right: 500px;
    position: absolute;
    left: 800px;
    top: 300px;
}
